* {
  font-family: "Roboto";
}

:root {
  --container-width: 1600px;
}

html {
  scroll-behavior: smooth;
  max-width: var(--container-width);
  margin: auto;
}

body {
  max-width: var(--container-width);
}

.header-container {
  max-width: 100%;
  height: 80px;
  background-color: black;
  position: relative;
}

.main-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-center-header {
  max-width: 1160px;
  height: 100%;
  margin: auto;
  padding-top: 13px;
}

.logo-nav-container {
  display: flex;
  align-items: center;
  gap: 63px;
  height: 100%;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.logo-bamboo {
  margin-top: -44px;
  margin-left: 8px;
}

.logo-btn-icons-container {
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-top: 40px;
}

.container-nav {
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 62px;
}

h1 {
  width: 72.49px;
  height: 44.91px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.header-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.header-nav-a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #f9804b;
}

.header-nav:hover {
  color: #f9804b;
}

.design-link-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.design-link-header:hover {
  color: #4b9200;
}

.favorite-animal {
  width: 100%;
  height: 700px;
  background-position: center -80px;
  background-repeat: no-repeat;
}

.big-panda {
  margin-top: -80px;
}

.orange-ellipse {
  margin-top: -929px;
  margin-left: 806px;
}

.watch {
  margin-top: -882px;
  margin-left: 894px;
}

.btn-watch-online {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
  position: absolute;
  margin-top: -170px;
  margin-left: -386px;
  cursor: pointer;
  transition: 1s;
}
.btn-watch-online:hover {
  background: #4b9200;
  transition: 1s;
}

.text-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* SECTION the-backstage */
.the-backstage {
  height: 403px;
}

.bamboo-cap {
  display: flex;
  justify-content: space-around;
  width: 1161px;
  height: 403px;
  align-items: flex-start;
  margin-left: 218px;
  padding-top: 140px;
  gap: 86px;
}

.discribe-backstage-container {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */
  color: #333b41;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333b41;
}

.text-backstage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  color: #333b41;
}

.flower-backstage {
  position: absolute;
  margin-top: -531px;
  margin-left: 1395px;
}

/* SECTION pets */
.pets {
  margin-top: 320px;
  height: 1106px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.native {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.cards {
  width: 366px;
  height: 426px;
  border: 1px solid #fa6f32;
  border-radius: 5px;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 2px 2px 8px 5px #fa6f32;
}

.discribe-pets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7px;
  padding-left: 15px;
  width: 337px;
}

.cards-row-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.cards-row-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.btn-arrow {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: #fe9013;
  transition: 1s;
}

.btn-arrow:hover {
  background-color: #4b9200;
  transition: 1s;
}

.btn-choose {
  width: 298px;
  height: 54px;
  background: #fe9013;
  border-radius: 25px;
  border: none;
  margin-top: 13px;
  transition: 1s;
}

.btn-choose:hover {
  background: #4b9200;
  transition: 1s;
}

.cards-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
}

.palm {
  margin-top: -358px;
}

.stelitzia {
  margin-top: -294px;
  margin-left: 1232px;
}

/*# sourceMappingURL=style.css.map */
