* {
    font-family: 'Roboto';
}

:root {
    --container-width: 1600px;
    --Green: #4B9200;
    --Orang: #F9804B;
    --Orang-2: #FE9013;
    --Orang-3: #fa6f32;
    --Yellow: #FFEE2E;
    --Rad: #D31414;
    --Black_blue: #333B41;
    --Gray: #767474;
    --Gray_smoky: #ABABAB;
    --Gray_smoky-2: #bdbdbd;
    --Light_gray: #F1F3F2;
    --Frosted_glass_white: #FDFDFF;
    --Frosted_glass_white-2: #f5f7f6;
    --white: #ffffff;
    --black: #000000;
    --black-2: #111115;
    --pink: #efbaf6;

}


html {
    scroll-behavior: smooth;
    max-width: var(--container-width);
    margin: auto;
}

body {
    max-width: var(--container-width);
}

body > header, 
body > main, main > section,
body > footer{
    max-width: inherit;
}

.header-container {
    max-width: 100%;
    height: 80px;
    background-color: var(--black);
    position: relative;
}

.main-header-container {
}

.wrapper-center-header {
    box-sizing: border-box;
    max-width: 1160px;
    height: 100%;
    margin: auto;
    padding-top: 13px;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 63px;
    height: 100%;
}

.logo {
    width: 82px;
    height: 52px;
    border: 1px solid var(--white);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.logo-bamboo {
    position: absolute;
    margin: 0;
    bottom: 13%;
    left: 14%;
}

.logo-btn-icons-container {
    display: flex;
    flex-direction: column;
    row-gap: 57px;
    column-gap: 0;

    a:first-child+a {
        margin-top: 10px;
        margin-bottom: -10px;
    }

}

.container-nav {
    display: flex;
    width: 100%;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 58px;
    align-items: center;
    li:last-child{
        margin-left: auto;
    }
}

h1 {
    width: 72.49px;
    height: 44.91px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    text-align: center;
    color: var(--white);
    line-height: 110%;
    margin-top: 6px;
    margin-left: 6px;
}

.header-nav {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);

    &.active {
        color: var(--Orang);

        &:hover {
            cursor: default;
        }
    }

}

.header-nav:hover {
    color: var(--Orang);
}

.design-link-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);

    &:hover {
        color: var(--Green);

    }
}

@media (max-width: 1000px) {
    .nav-container li:last-child {
        margin-left: 0;
    }
    .card-pay{
        max-width: 168px;
    }
    .pick-and-feed{
        max-height: auto;
    }
    .how-it-works-cards{
        gap: 0;
    }
}

@media (max-width: 640px) {
    .bamboo-cap{
        flex-direction: column;
    }
    .nav-btn{
        margin-left: auto;
        margin-right: 10px;
    }
    .how-it-works-cards{
        flex-direction: column;
    }
    .how-it-works-cards > *:nth-child(2n+1) {
        margin: 0 auto;
    }
}
.favorite-animal {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    max-height: 700px;
    background: url(./assets/images/Panda.jpg) no-repeat -80px center;
    background-size: auto;
    background-position: center -80px;
}

.big-panda {
    width: 100%;
    margin: 0;
    position: absolute;
    top: -80px;
}

.orange-ellipse {
    position: absolute;
    right: 18.9%;
    top: 12.9px;
    width: 100%;
    max-width: 465px;
}

.watch {
    position: absolute;
    margin: 0;
    right: 13%;
    top: 12.7%;
    max-width: 464px;
    width: 100%;
}

.btn-watch-online {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, var(--Orang) 1.49%, var(--Orang-2) 101.44%);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 1s;

    position: absolute;
    right: 18.3%;
    z-index: 9999;
    top: 77.9%;

    &:hover {
        background: var(--Green);
    }
}

.text-btn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

/* SECTION the-backstage */

.the-backstage {
    min-height: 403px;
    position: relative;
}

.bamboo-cap {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding-top: 140px;

    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    gap: 31px;
    > img{
        max-width: 52.6%;
        width: 100%;
        height: auto;
    }
}

.discribe-backstage-container {
    display: flex;
    flex-direction: column;
    gap: 37px;
    max-width: 461px;
    width: 100%;
}

h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    color: var(--Black_blue);
}

h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: var(--Black_blue);
}

h2+.text-backstage {
    margin-top: -14px;
    margin-bottom: 14px;
}

.text-backstage {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35em;
    /* or 21px */
    color: var(--Black_blue);
}

.flower-backstage {
    margin: 0;
    position: absolute;
    top: 12px;
    right: 0;
    z-index: -1;
    width: 12.6%;
}
main > section:not(:first-child){
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 1000px) {
    .flower-backstage{
        display: none;
    }
    main > section:not(:first-child){
        padding-left: 30px;
        padding-right: 30px;
    }
    footer, footer *{
        box-sizing: border-box;
    }
    header{
    }
}

/* SECTION pets */

.pets {
    padding-top: 182px;
    min-height: 1106px;
    position: relative;
}

h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--black);
}

.native {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--black);
}



@keyframes on-card {
    from {}

    to {
        background-color: rgba(241, 243, 242, 0.5);
        transform: translateY(-47px);
    }

}

@keyframes zoom {
    from {}

    to {
        transform: scale(1.1);
    }
}

.discribe-pets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
    padding-left: 15px;
    position: relative;

    img {
        margin-left: auto;
        margin-right: 15px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1160px;
    column-gap: 27px;
    row-gap: 20px;
    overflow-x: hidden;
    justify-content: space-evenly;
}

.card {
    background: rgba(255,255,255,0.8);
    max-width: 366px;
    border: 1px solid var(--Orang-3);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;

    width: 31.3333%;
    height: auto;
    padding-bottom: 15px;
    box-sizing: border-box;
    min-width: 285px;

    .img img {
        width: 100%;
        height: auto;
    }
    
    &:hover {
        .img {
            overflow: hidden;

            img {
                animation: zoom 0.2s linear 0s forwards alternate;
            }
        }

        .discribe-pets {

            animation: on-card 0.2s linear 0s forwards alternate;
        }
    }
}


.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.btn-arrow {
    position: absolute;
    top: 47.5%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: var(--Orang-2);
    transition: 1s;

    &.right {
        right: 8.6%;
    }

    &.left {
        left: 8.6%;
    
    }

    &:hover {
        background-color: var(--Green);
        transition: 1s;
    }
}


@media (max-width: 1000px) {
    .cards{
        row-gap: 90px;
    }
    .btn-arrow{
        top: 50.6%;

        &.right {
            right: 36.6%;
        }
    
        &.left {
            left: 36.6%;;
        
        }
    }
}

.btn-choose {
    width: 298px;
    height: 54px;
    background: var(--Orang-2);
    border-radius: 25px;
    border: none;
    margin-top: 13px;
    transition: 1s;

    &:hover {
        background: var(--Green);
        transition: 1s;
    }
}


.cards-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 61px;
}



/* SECTION pets */

h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-transform: uppercase;
    color: var(--black);
}

.native {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    color: var(--black);
}



.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}



.btn-choose {
    width: 298px;
    height: 54px;
    background: var(--Orang-2);
    border-radius: 25px;
    border: none;
    margin-top: 13px;
    transition: 1s;

    &:hover {
        background: var(--Green);
        transition: 1s;
    }
}



.cards-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 61px;
}

.palm {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.stelitzia {
    margin: 0;
    right: 0;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}

/* SECTION pick-and-feed */

.pick-and-feed {
    display: flex;
    flex-direction: column;
    background: linear-gradient(315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%),
        linear-gradient(315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%);

    min-height: 935px;
    padding-top: 19px;
    padding-bottom: 50px;

    &.donate {
        height: 1481px;
    }
}

.pink-bckg {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    width: 100%;
    min-height: 835px;
    margin: auto;
    text-align: center;
}

h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */

    text-align: center;

    color: var(--Orang-2);
    padding-top: 41px;
}

.text-container-h5 {
    text-align: left;
    padding-left: 9%;
}

.h3-pick-feed {
    padding-top: 30px;
}

.text-pick-feed-bold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: var(--Black_blue);
    padding-top: 42px;
}

.text-pick-feed-normal {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: var(--Black_blue);
    padding-top: 10px;
    
}

.link-support {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: var(--Black_blue);
    text-decoration: underline orange 2px;
    transition: 1s;

    &:hover {
        color: var(--Green);
        text-decoration: underline var(--Green) 2px;
        transition: 1s;
    }
}


h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: var(--Black_blue);
    padding-top: 60px;
}

.pay-icon {
    background: var(--white);
    border: 1px solid var(--Orang);
    border-radius: 5px;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-pay {
    width: 168px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.how-it-works-cards {
    display: flex;
    justify-content: center;
    gap: 29px;
    padding-top: 39px;
}

.vector {
    display: flex;
    align-self: flex-start;
    /* gap: 44px; */
    padding-top: 5%;
}

.text-icons {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: var(--Black_blue);
    text-align: start;
}

.btn-feed-friend {
    margin-top: 60px;
}

/* SECTION testimonials */

.testimonials {
    position: relative;
    padding-bottom: 262px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

.user-cards {
    background: var(--Light_gray);
    border-radius: 20px;
    width: 267px;
    height: 391px;
}

.gradient {
    background: 2px linear-gradient(315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%),
        linear-gradient(315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%);
    width: 269px;
    height: 393px;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 2px;
}

.user-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    margin-top: 45px;
    flex-wrap: wrap;
}

.names {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    color: var(--black);
}

.lokal-today {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--Gray_smoky-2);
}

.comments {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--Gray);
    padding-left: 6%;
    padding-top: 4%;
    width: 237px;
    text-align: justify;
}

.name-lokal-container {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 4%;
    padding-left: 7%;
}

.input-testimonials {
    padding-top: 13px;
}

.input-weight {
    -webkit-appearance: none;
    border: 1px solid var(--pink);
    border-radius: 5px;
    width: 599px;
    height: 8px;
    background: -webkit-linear-gradient(left,
            var(--Orang-2) 0%,
            var(--Orang-2) 0%,
            var(--Frosted_glass_white-2) 0%,
            var(--Frosted_glass_white-2) 100%);
}

.input-weight::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--Orang-2);
    height: 8px;
    width: 115.19px;
    border-radius: 18px;
    cursor: pointer;
}

.btn-feedback {
    width: 298px;
    height: 54px;
    background: var(--Orang-2);
    border-radius: 5px;
    border: none;
    margin-top: 27px;
    margin-left: 219px;
    position: absolute;
    transition: 1s;

    &:hover {
        background: var(--Green);
        transition: 1s;
    }
}

.leav {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* FOOTER */

footer {
    background-color: var(--black-2);

    >div {
        max-width: 1160px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 40px;
        justify-content: space-between;

    }
}

/* icons */
.ellipse-icon {
    display: flex;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.5);
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 1%;

    &:hover {
        background-color: var(--Green);
    }
}


.ellipse-icon a {
    margin: 0 auto;
}

.social-icons-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: var(--white);
}



.social-icons-flex {
    display: flex;
    flex-direction: row;
    gap: 12px;

    &:hover {
        .social-icons-text {
            color: var(--Green);
        }
    }
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* navigation */
.text-footer-nav {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: var(--white);

    &:hover {
        color: var(--Orang);
    }

    &.active {
        color: var(--Orang);
        cursor: default;
    }
}



.nav-container-footer {
    display: flex;
    flex-direction: row;
    gap: 58px;
}

.nav-subscribe-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.btn-donate {
    width: 298px;
    height: 54px;
    background: var(--Orang-2);
    border-radius: 5px;
    border: none;
    transition: 1s;

    &:hover {
        background: var(--Green);
        transition: 1s;
    }
}

.h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */
    text-align: center;
    color: var(--white);
    width: 72.49px;
    height: 44.91px;
}

.flex-nav {
    width: 100%;
    max-width: 362px;
    padding: 0;
    align-self: flex-end;
    margin-left: 101px;
}

/* subscribe */
.subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 367px;
}

.subscribe-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: var(--white);
}

.designer,
.rsschool {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 197%;
    /* identical to box height, or 21px */
    color: var(--white);
    cursor: pointer;
    transition: 1s;

    &:hover {
        transition: 1s;
        color: var(--Green);
    }
}

.input-email {
    border: 0.7px solid var(--Orang);
    border-radius: 2px;
    margin-right: 5px;
    height: 42px;
    background-color: var(--black-2);
    color: white;

    width: 100%;
    max-width: 370px;
}

.btn-submit {
    background: var(--Light_gray);
    border: 1px solid var(--Black_blue);
    border-radius: 5px;
    max-width: 130px;
    width: 100%;
    height: 42px;
    transition: 0.5s;
    margin-top: 3px;g

    &:hover {
        border: 2px solid var(--Green);
        transition: 0.5s;

    }
}

.submit {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: var(--black);
    transition: 0.5s;

    &:hover {
        color: var(--Green);
        transition: 0.5s;
    }
}


.footer-form {
    padding-top: 11px;
    display: flex;
}

.design-container {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.donate {
    .big-panda {
        margin-top: -80px;
    }

    .container-reopened {
        display: flex;
        flex-direction: column;
        gap: 26px;
        padding-top: 2%;
        padding-left: 14%;
    }

    h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        /* identical to box height, or 47px */
        color: var(--Orang-2);
    }

    .mini-panda-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
    }

    .discription {
        width: 1160px;
        height: 94px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        color: var(--white);
    }

    .pink-bckg {
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        width: 1160px;
        height: 1078px;
        margin: auto;
        text-align: center;
    }

    .wrapper-for-num {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-top: 4%;
        gap: 11px;
    }
}

.container-nav {

    .nav-btn {
        display: none;
    }

    .design {
        display: none;
    }
}

.nav-enabler,
.nav-btn {
    display: none;
    z-index: 9999;
}
@media (max-width: 1000px){

}

@media (max-width: 640px) {
    .header-container {
        max-height: 34px;
    }

    .wrapper-center-header {
        padding-top: 0;
    }

    .logo {
        font-size: 13px;
        z-index: 9999;
        color: var(--Orang-2);
    }
    .logo-bamboo{
        display: none;
    }
    h1{
        text-align: center;
        margin-left: -3px;
        margin-top: 3px;
        font-size: 15px;
        background: url("./assets/images/bamboo.svg") no-repeat 13% 59%;
        padding-right: 4px;
    }
    .nav-container{
        align-items: flex-start;
        padding: 15px;
    }

    .nav-btn {
        display: block;
        order: 2;
        width: 24px;
        height: 22px;
        background-color: var(--black-2);
        border: 0;
        padding: 3px;

        label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            align-items: stretch;
            justify-content: space-evenly;
            &:after {
                content: "";
                display: flex;
                position: absolute;
                width: 100%;
                height: 100px;
                background: transparent;
            }
            span {
                max-height: 33%;
                background-color: white;
                height: 2px;
                border-radius: 2px;
            }
        }
    }

    .main-header-container {
        width: 100%;
        height: inherit;
    }

    .logo-nav-container {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }
    .nav-enabler:checked~.container-nav {
        
        display: flex;
        width: 100%;
        z-index: 1;
        h1{
            color: var(--Orang);
        }
        .logo{
            border: 1px solid var(--Orang);
            width: 64px;
            height: 40px;
        }

    }

    .nav-enabler:checked~.nav-btn {
        background: var(--Frosted_glass_white);
        margin-right: 10px;
        margin-top: 10px;
    }
    .nav-enabler:checked~.nav-btn{
        label {
            span{
                transition: 1s all;
            }
        }
    }
    .nav-enabler:checked~.nav-btn{
        label {
            span{
                background: var(--Orang);
                &:nth-child(2){
                    background-color: transparent;
                }
                &:first-child{
                    transform: rotate(45deg) translate(1px, 2px);
                }
                &:last-child{
                    transform: rotate(-45deg) translate(5px,-5px);
                }
            }
        }
    }
    .nav-enabler:checked~.nav-btn+div {
        z-index: 99999;

        .logo {
            border-color: var(--Orang-2);
            background: url("./assets/icons/bamboo.png");
            background-repeat: no-repeat;
            background-position: 20% 60%;

            h1 {
                z-index: 99999;
                color: var(--Orang-2);
            }

            a {
                width: 100%;
                height: 100%;
            }

            .logo-bamboo {
                display: none;
            }
        }
    }

    .nav-enabler~.nav-btn+div {
        z-index: 99999;
        margin-left: 10px;

        .logo {
            h1 {
                font-size: 15px;
                height: inherit;
                width: inherit;
            }

            a {
                width: 100%;
                height: 100%;
            }

            .logo-bamboo {}
        }
    }

    .nav-container {
        // max-width: 320px;
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 10px;
        row-gap: 15px;
        li:first-child{
            margin-bottom: 15px;
        }
    }

    .container-nav {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        width: 100%;
        min-height: 330px;

        a {
            color: var(--Black_blue);
        }

        .nav-container {}

        .design {
            display: block;
        }
    }

    .design-link-header {
    }
}

@media (max-width: 320px) {
    .btn-arrow{
        display: none;
    }
}

.popupContainer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: var(--Frosted_glass_white-2);
    opacity: 0.85;
    position: fixed;
    justify-content: center;
    align-items: center;

    &.active{
        display: flex;
    }
    &.active > *{
        margin: auto;
    }
}